.code-block{
  position: relative;
  top:0;
  background-color: black;
  color:white;
  width:95%;
  border-radius: 10px;
  margin:0 auto;
  font-size: 18px;
}
.code-copy{
  position:absolute;
  top:40px;
  right:10px;
  background-color: rgb(211, 211, 211);
  padding: 5px;
  border-radius: 5px;
}